
nav{
    background-color: white;
}

body{
    background-color: #ffb7b2;
}

#darkMode img{
    width: 20px;
}

h3{
    color: white;
}

p{
    color: white;
}

.carousel-item {
  height: 400px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.carousel-caption {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    left: 0%;
}
#popoverLearn{
    color: currentColor;
    cursor: help;
    opacity: 0.5;
    text-decoration: none;
}

footer {
    background-color: #ffffff;
    padding: 16px;
  }

  footer p{
      color: grey;
  }

.card{
    margin-top: 2%;
}

.card-text{
    color: black;
}

.dark-mode {
    background-color:black;
    color: white;
  }

.container{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 5px;
    background-color: white;
}

@media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
    .carousel-indicators{
        display: none;
    }
  }