body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

main h1 {
  text-align: center;
  display: block;
  color: #ffffff;
}

.nav {
    overflow: hidden;
    background-color:#31A08B;
    height: 54px;
  }

  .nav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;
    font-size: 13px;
    margin-top: 6px;
    margin-left: 10px;
    font-weight: bold;
    background-color: #17957C;
    width: 84px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
  }

  .presentation{
    position: absolute;
    left: 20%;
    background-color: #17957C;
    width: 60%;
    height: 8%;
    text-align: center;
    border-radius: 10px;
  }

  .presentation a{
    position: absolute;
    color:#ffffff;
    text-decoration: none;
    top: 33%;
    left: 20%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .modules{
    position: absolute;
    left: 20%;
    top: 24%;
    background-color: #17957C;
    width: 60%;
    height: 8%;
    text-align: center;
    border-radius: 10px;
  }
  .modules a{
    position: absolute;
    color: #ffffff;
    text-decoration: none;
    top: 33%;
    left: 30%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .exercises{
    position: absolute;
    left: 20%;
    top: 33%;
    background-color: #17957C;
    width: 60%;
    height: 8%;
    text-align: center;
    border-radius: 10px;
  }
  .exercises a{
    position: absolute;
    left: 27%;
    top: 30%;
    color: #ffffff;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
  }

  .ftp{
    position: absolute;
    left: 20%;
    top: 42%;
    background-color: #17957C;
    width: 60%;
    height: 8%;
    text-align: center;
    border-radius: 10px;
  }
  .ftp a{
    position: absolute;
    left: 40%;
    top: 30%;
    color: #ffffff;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
  }
  input{
    display: none;
    position: relative;
    display: inline;
    margin-top: 16px;
    margin-left: 40%;
  }
  @media screen and (min-width: 600px) {
    .nav a:hover{
      background-color: #57B8A5;
    }

    main h1 {
      text-align: center;
      display: block;
      color: #ffffff;
      transition: color 2s;
      animation-name: reverseTransform;
      animation-duration: 1s;
    }
    
    main h1:hover {
      color: rgb(121, 22, 202);
      animation-name: animTransform;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
    .wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .wrapper div{
      width: 60%;
      height: 100px;
      position: unset;
      margin-top: 3%;
      
    }

    .wrapper div a{
      color: white;
      position: relative;
      top:  37px;
      left: 0%;
    }
    .presentation{
      animation-name: reverse;
      animation-duration: 1s;
    }
    .presentation:hover{
      background-color: #57B8A5;
      animation-name: animHover;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
    .modules{
      animation-name: reverse;
      animation-duration: 1s;
    }
    .modules:hover{
      background-color: #57B8A5;
      animation-name: animHover;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
    .exercises{
      animation-name: reverse;
      animation-duration: 1s;
    }
    .exercises:hover{
      background-color: #57B8A5;
      animation-name: animHover;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
    .ftp{
      animation-name: reverse;
      animation-duration: 1s;
    }
    .ftp:hover{
      background-color: #57B8A5;
      animation-name: animHover;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
    @keyframes animHover {
      from {height: 100px;}
      to {height: 110px;}
    }
    @keyframes reverse { 
      from {height: 110px;} 
      to {height: 100px;} 
  }
  @keyframes animTransform {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(150deg);}
  }
  @keyframes reverseTransform {
    from {transform: rotateY(150deg);}
    to {transform: rotateY(0deg);}
  }
  }
  @media screen and (min-width: 1000px) {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      
    }
    main h1 {
      text-align: center;
      display: block;
      color: #ffffff;
      transition: color 2s;
    }
    
    main h1:hover {
      color: rgb(121, 22, 202);
    }
    .presentation{
      grid-column: 2 / 32;
      grid-row: 1;
    }
    .modules{
      grid-row: 2;
      grid-column: 2 / 32;
    }
    .exercises{
      grid-row: 3;
      grid-column: 2 / 32;
    }
    .ftp{
      grid-row: 4;
      grid-column: 2 / 32;
    }
  }
  @media screen and (min-width: 1700px) {
    input{
      margin-left: 40%;
      width: 600px;
    }
  }