/// @author Carlos Munoz Iglesias 
/// @name footer
 
 /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: $footerColor;
    margin-top: 20px;
    a {
      font-size: x-small;
      text-decoration: none;
      color:$footerColorA;
    }
    p {
      font-size: x-small;
      color: $footerColorP;
    }

  }