  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: $footerColor;
    margin-top: 20px;
  }

  .footer a {
    font-size: x-small;
    text-decoration: none;
    color:$footerColorA;
  }

  .footer p {
    font-size: x-small;
    color: $footerColorP;
  }
  