/// @author Carlos Munoz Iglesias 
/// @name mixins



@mixin about-margin{
  margin-left: 40px;
}

@mixin about-size{
  @include about-margin;
    height: 50%;
    width: 50%;
}

@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}

.gray {
  @include prefix(filter, grayscale(50%), moz webkit);
}
