body ul li:first-child{
    color: blue;
    font-size: 30px;
}
body ul li:nth-child(2){
    color: black;
    font-size: 40px;
}
body ul li:nth-child(3){
    color:blue;
    font-size: 50px;
}
body ul li:nth-child(4){
    color: black;
    font-size: 60px;
}
body ul li:nth-child(5){
    color: blue;
    font-size: 70px;
}