/// @author Carlos Munoz Iglesias 
/// @name media800px

/* Media/Max width 800px */

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  .navbar form{
      float: right;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    #map{
      display: none;
    }
}