
nav{
    background-color: white;
}

body{
    background-color: #ffb7b2;
}

#darkMode img{
    width: 20px;
}

h3{
    color: white;
}

p{
    color: white;
}

.col-sm-4 a{
    text-decoration: none;
}

.carousel-item {
  height: 400px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.carousel-caption {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    left: 0%;
}
#popoverLearn{
    color: currentColor;
    cursor: help;
    opacity: 0.5;
    text-decoration: none;
}

footer {
    background-color: #ffffff;
    padding: 16px;
  }

  footer p{
      color: grey;
  }

.card{
    margin-top: 2%;
}

.card img{
    width: auto;
    height: 180px;
}

h1{
    color: white;
}

.card-text{
    color: black;
}

.dark-mode {
    background-color:black;
    color: white;
  }

.jumbotron{
    background-color: #9D725B;
}

.badge{
    color: white;
}

.jumbotron h1{
    font-size: 4rem;
    text-shadow: 1px 1px #000000;
}

.jumbotron p{
    font-size: 2rem;
    text-shadow: 1px 1px #000000;
}

@media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
    .carousel-indicators{
        display: none;
    }
  }